@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #2a2a2a;
}
main {
  display: flex;
}
button {
  border-radius: 5px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
#container {
  background-color: #191b1c;
  display: grid;
  width: 640px;
  height: 640px;
  margin: 0 auto;
}

.box {
  padding: 1px;
  border: 0px red solid;
}

#change-size-btn {
  padding: 10px;
  margin: 10px auto;
  display: block;
}

.color-picker-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}
#select-color-btn,
#eraser-btn {
  padding: 10px;
  margin-bottom: 30px;
}

#current-color-indicator {
  padding: 20px;
  margin-bottom: 10px;
  background: white;
  border: 1px solid white;
}
#current-color-indicator-text {
  color: white;
}
#reset-btn {
  padding: 10px;
}
